services:
  freqtrade:
    image: freqtradeorg/freqtrade:develop
    container_name: freqtrade-futures
    volumes:
      - ./user_data:/freqtrade/user_data
    environment:
      - TZ=Asia/Shanghai
    working_dir: /freqtrade
    command: backtesting --config user_data/config/base-futures.json --strategy-path user_data/strategies --strategy-list FutureMeanRevV1 --timerange 20240101-20240131
    profiles:
      - backtest
    stdin_open: true
    tty: true
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 2G
